<div id="<%= dom_id booking %>">
  <p>
    <strong>Status:</strong>
    <%= booking.status %>
  </p>

  <p>
    <strong>First name:</strong>
    <%= booking.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= booking.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= booking.email %>
  </p>

  <p>
    <strong>Start at:</strong>
    <%= booking.start_at %>
  </p>

  <p>
    <strong>End at:</strong>
    <%= booking.end_at %>
  </p>

</div>
